/* Button */
.button-banner{
    border-radius: 20px;
    border: 1px solid #1E6140;
    width: 202px;
    height: 40px;
}
.banner-list{
    display: flex;
}
.banner-list__button{
    margin-right: 26px;
}

.button-banner{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: transparent;
    transition: background-color 0.3s;
}
.button-banner:hover{
    background-color:#E74E13;
}
.button-banner:hover .button-banner__text {
    color: white;
}
.button-banner__content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-banner__img{
    height: 24px;
    width: 24px;
}
.button-banner__text{
    color: #000;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 5px;
}
